body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: steelblue;
}

.background {
  background: red;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
}

.login {
  min-height: 200px;
  min-width: 300px;
  background: white;
  padding: 20px;
  border-top: 5px lightblue solid;
  color: black;
}

.login__button {
  background: lightblue;
  display: block;
  width: 100%;
  height: 50px;
}

.login__input {
  display: block;
  padding: 20px;
  width: 100%;
  height: 50px;
  margin: 10px 0;
}

ul {
  list-style-type: none;
  margin: 40px auto;
  width: 300px;
  padding: 0;
}

ul li {
  display: inline-block;
  margin: 10px;
}

a {
  color: #ffffff;
  text-decoration: none;
}
